:host {
  display: block;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 17px;
}

::placeholder {
  color: rgba(0,0,0,0.2);
}

.overlay {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      line-height: 50px;
      padding-left: 20px;
      &:hover {
        background: rgba(0,0,0,0.04);
      }
    }
}

.fa {
  font-size: 20px;
  color: rgba(0,0,0,0.3);
  margin-right: 10px;
}
